.container{
  margin: 0.2rem;

  .link-card {
    width: 80%;
    outline: 1px solid #000000;
    margin: 1rem;
    border-radius: 5px;
    padding: 1rem;
  }

  .image {
    display: block;
    margin: auto;
    width: 100%;
    height: 100px;
    object-fit: cover;
    text-align: center;
  }
}
