<div class= "cover">
  <div class="home_container">
    <div class= "title">
      <p>YouG<%= image_tag 'faces_mask.png', class: 'mask' %>d?</p>
    </div>
    <div class="tagline">
      <p>Your Daily Mental Fitness Manager</p>
    </div>
    <%= link_to dashboard_path do%>
      <div class = "action_call"><p>Check in with yourself</p><br>
      <%= image_tag 'arrow_white.png', class:'down_arrow'%>
    <% end %>
    </div>
  </div>
</div>
