.container {
  margin: 0.2rem;

  .link-card {
    width: 80%;
    outline: 1px solid #000000;
    margin: 1rem;
    border-radius: 5px;
    padding: 1rem;
  }

  #graph {
    width: 100%;
    margin: 1rem;
    border-radius: 5px;
    padding: 1rem;
  }
}
