.container {
  width:100%;
  // overflow: hidden;

  input[type="range"] {
    margin-top: 20rem;
    height: 2px;
    transform: rotate(-90deg);
    border-radius: 15px;
  }

  input[type="range"]::-webkit-slider-thumb {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    height: 50px;
    width: 50px;
    // background-color: #fff;
    // border-radius: 50%;
    // border: 2px solid #f50;
    background-image: url('/assets/faces_stroked.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(90deg);
  }

}
