.new-container {
  display: flex;
  width:100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  // overflow: hidden;

  input[type="range"] {
    margin-top: 20rem;
    height: 2px;
    width: 300px;
    transform: rotate(-90deg);
    border-radius: 15px;
  }

  input[type="range"]::-webkit-slider-thumb {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    height: 50px;
    width: 50px;
    // background-color: #fff;
    // border-radius: 50%;
    // border: 2px solid #f50;
    background-image: url('/assets/faces_stroked.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(90deg);
  }

  .simple_form {
    width: 100%;
    height: 80%;
  }

  .form-slider {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .button-container{
    display: flex;
    justify-content: space-around;
    width: 80%;

  }

  .back-button{
    opacity: 0.5;
  }

  button{
    position: relative;
    width: fit-content;
  }



}
