.container {
  padding-left: 0.2rem;
  padding-top: 0.2rem;

}

.music {
  white-space: nowrap;
  overflow-x: auto;
  height: 200;
  align-items: center;
  margin-bottom: 1rem;
}

.video {
  white-space: nowrap;
  overflow-x: auto;
  height: 200;
  align-items: center;

  .iframe{
    border-radius: 5px;
  }
}
