.show-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  margin-top: 2rem;
  margin-bottom: 100px;
}

.music {
  white-space: nowrap;
  overflow-x: auto;
  height: 160px;
  align-items: center;
  margin-bottom: 1rem;
}

.video {
  white-space: nowrap;
  overflow-x: auto;
  height: 200;
  align-items: center;

  .iframe{
    border-radius: 5px;
  }
}
