.show-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  margin-top: 2rem;
  margin-bottom: 100px;

  .separator {
    opacity: 0.1;
  }

  .show-title {
    position: relative;
    left: -125px;
  }
  .music-title {
    position: relative;
    left: -75px;
  }
  .video-title {
    position: relative;
    left: -70px;
  }

  .score-card {
    width: 80%;
    color: white;
    background-color: #3330D4;
    margin: 1rem;
    border-radius: 5px;
    padding: 1rem;
    box-shadow:2px 5px 10px rgba(84, 84, 84, 0.512);
  }

  .line {
    width: 90%;
    border-bottom: #3330D4 0.5px solid;
    margin-top: 1rem;
    margin-bottom: 1rem;
    opacity: 0.3;
  }

  .details {
    width: 80%;
    margin: 1rem;
    border-radius: 5px;
    padding: 1rem;
    border: 1px solid #3330D4;
    box-shadow:2px 5px 10px rgba(84, 84, 84, 0.512);
  }

  .image-title {
    position: relative;
    left: -80px;
  }

  .image-container {
    height: 250px;
    background-size: cover;
    border-radius: 5px;
    box-shadow:2px 5px 10px rgba(84, 84, 84, 0.512);
    margin-bottom: 1rem;
    padding: 5px;
    border: 1px solid #3330D4;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 5px;
    }

  }

  .music-container {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    height: 100px;
    align-items: center;
    margin-bottom: 1rem;
    padding-left: 10%;

    .iframe{
      border-radius: 5px;
      box-shadow:2px 5px 10px rgba(84, 84, 84, 0.512);
    }
  }

  .video-container {
    white-space: nowrap;
    overflow-x: auto;
    height: 100px;
    align-items: center;
    padding-left: 10%;
    margin-bottom: 1rem;

    .iframe{
      border-radius: 5px;
      box-shadow:2px 5px 10px rgba(84, 84, 84, 0.512);
    }
  }
}
