// To style the wrapping div
.message-row {
  margin-bottom: 10px;
  padding: 8px;
}

// To style the message itself
.sender-style {
  // width: 70%;
  max-width: 400px;
  border-radius: 4px;
  padding: 8px;
  // min-height: 80px;
  background-color: white;
  background-color: #3330D4;
  color: white;
}

.receiver-style {
  // width: 70%;
  max-width: 400px;
  border-radius: 4px;
  padding: 8px;
  // min-height: 80px;
  background-color: white;
  border: #3330D4 0.5px solid;
  color: #3330D4;
}
