body {
  padding: 0;
  box-sizing: border-box;
}

.nav_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 90px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.navbar {
  background-color: white;
  color: rgb(0, 0, 0);
  margin-top: 1px;
  margin-bottom: 0.3rem;
  width: 90%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
  border: #3330D4 1px solid;

  a {
    text-decoration: none;
    color: white;
    padding: 10px;
  }

  .home {
    width: 10px;
  }

  .icon {
    width: 50px;
  }
}
